<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :ping %><br />
    <%= f.check_box :ping %>
  </div>
  <div class="field">
    <%= f.label :ssh %><br />
    <%= f.check_box :ssh %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br />
    <%= f.number_field :network_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
