<h1>It's CaaSka!</h1>

<p><%= link_to "Units", units_path %>
<p><%= link_to "Tools available on Unit", unit_tools_path %>
<p><%= link_to "Tools", tools_path %>
<p><%= link_to "Credentials", credentials_path %>

<p> Bla-bla <%= 'bip' %>
