<p id="notice"><%= notice %></p>

<p>
  <b>Tool name:</b>
  <%= link_to @unit_tool.tool.name, :controller =>:tools, :action => :show, :id => @unit_tool.tool.id %>
</p>

<p>
  <b>Unit ip:</b>
  <%= link_to @unit_tool.unit.ip, :controller =>:units, :action => :show, :id => @unit_tool.unit.id %>
</p>

<p>
  <b>Path:</b>
  <%= @unit_tool.path %>
</p>


<%= link_to 'Edit', edit_unit_tool_path(@unit_tool) %> |
<%= link_to 'Back', unit_tools_path %>
