<h1>Listing units</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ip</th>
    <th>Description</th>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.id %></td>
    <td><%= unit.ip %></td>
    <td><%= unit.description %></td>
    <td><%= unit.username %></td>
    <td><%= unit.password %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Check', :action => :check, :id => unit %></td> 
    <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
